<<<<<<< HEAD
body{
    background-color: rgb(182, 182, 182);
}

/*MENU DI NAVIGAZIONE*/
.grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 0px;
}

.grid-nav-item{
    background-color: #db6c34;
    text-align: center;
    height: 20px;
    padding: 20px;
}

.grid-nav-item:hover{
    background-color: #d84a03;
}

.grid-nav-item-link{
    text-decoration: none;
    color: black;
=======
body{
    background-color: rgb(182, 182, 182);
}

/*MENU DI NAVIGAZIONE*/
.grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 0px;
}

.grid-nav-item{
    background-color: #db6c34;
    text-align: center;
    height: 20px;
    padding: 20px;
}

.grid-nav-item:hover{
    background-color: #d84a03;
}

.grid-nav-item-link{
    text-decoration: none;
    color: black;
>>>>>>> 8091ffe4054de846e11f9a31bb6db9a6418ae62a
}