.xmenu {
    display: grid;
    background-color: #db6c34;
}
/* XMENU ORIZZONTALE */
.xmenu.orizzontale {
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
}

.orizzontale .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* XMENU VERTICALE */
.xmenu.verticale {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 20%;
    height: 100vh;
    position: relative;
    transition: transform 0.3s ease;
}

.verticale .grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

.verticale .menu-button {
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle-xmenu svg {
    width: 25px;
    height: 25px;
}

.xmenu.verticale #toggle-xmenu {
    display: block;
    position: absolute;
    right: -34px;
    width: 35px;
    height: 35px;
    background-color: #db6c34;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}

.xmenu.verticale.chiuso {
    transform: translateX(-106%);
}

/* OGNI VOCE DEL MENU */
.grid-nav-item {
    background-color: #db6c34;
    text-align: center;
    height: 20px;
    padding: 20px;
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
}

/* IMMAGINE VOCE MENU */
.grid-nav-item svg {
    width: 25px;
    height: 25px;
}

.grid-nav-item:hover {
    background-color: #d84a03;
}

.grid-nav-item-link {
    text-decoration: none;
    color: black;
}

/* BOTTONE PREFERENZE */
.menu-button {
    background-color: #db6c34;
    box-sizing: border-box;
    cursor: pointer;
}

.menu-button:hover{
    background-color: #d84a03;
}

.menu-button svg{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
}

/* SFONDO OVERLAY */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 998;
}

/* POPUP DELLE PREFERENZE */
#popup-preferenze {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2fr;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    color: black;
}

#popup-preferenze h3{
    text-align: center;
    margin-top: 0px;
}

#popup-preferenze h4{
    margin-right: 60px;
}

/* DIV DELLA SCELTA DELLA PREFERENZA DEL MENU */
#preferenza-menu {
    display: flex;
    align-items: center;       /* Centra verticalmente */
    justify-content: center;   /* Centra orizzontalmente */
    gap: 10px;                 /* SPAZIO TRA TITOLO E RADIO */
    margin-bottom: 20px;
}

/* BOTTONI CHIUDI E SALVA */
#button-popup{
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#close-popup{
    font-size: large;
    background-color: #db6c34;
    border-radius: 10px;
}

#save-popup{
    font-size: large;
    background-color: #db6c34;
    border-radius: 10px;
}

/* CLASSE HIDDEN */
.hidden {
    display: none !important;
}




/* TELEFONO */
/* --- REGOLAZIONI SPECIFICHE PER TELEFONI E TABLET --- */
@media (max-width: 768px) {
    
    .xmenu.verticale {
        width: 150px;
    }

    .grid-nav-item {
        height: auto;
        padding: 15px 10px;
        font-size: 14px;
    }

    .verticale .menu-button {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #popup-preferenze {
        width: 70%;
        padding: 40px;
    }
    #popup-preferenze h4{
    margin-right: 10px;
}
}