:host {  /* per dire al global che è un blocco*/
    display: block;
    width: 100%;
    height: 100%;
}

.x-sidebar{
    display: flex;
    flex-direction: column; /*dico che saranno colonne*/
    justify-content: space-between; /* Spinge la navigazione in alto e le preferenze in fondo */
    height: 100%;
    width: 100%;
    background-color: var(--bg-sidebar);
    box-sizing: border-box;
}

.x-sidebar-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-item-link {
    text-decoration: none;
    color: var(--txt-pagina);
    width: 100%;
}

.nav-item {
    display: flex;
    align-items: center; /* Centra verticalmente testo e icona */
    gap: 12px;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Linea divisoria */
    font-weight: bold;
    font-family: sans-serif;
    transition: background-color 0.2s ease;
}

.nav-item:hover {
    background-color: var(--hover-pagina);
}

.nav-item svg {
    width: 30px;
    height: 30px;
    fill: var(--txt-pagina);
}

.hidden {
    display: none !important;
}


@media (max-width: 768px) {

    .nav-item{
        font-size: 14px;
    }

    .nav-item svg {
    width: 20px;
    height: 20px;
    }

}